<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>

<body>

    <div class="topnav">
        <div class="topnav-left">
            <a class="active" href="">Home</a>
            <a href="/users/register">Register</a>            
            <a href="">About</a>  
        </div>
        <div class="topnav-right">
            <a href="/users/logout">Logout</a>
        </div>       
    </div>

   
    <h1>Hello, <%= user.charAt(0).toUpperCase() + user.slice(1) %>! </h1>
</body>

</html>